.star-rating {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.star {
  font-size: 4rem;
  color: lightgray;
  padding: 5px;
}

hover {
  color: gold;
}

.selected {
  color: gold;
}

#rating-result {
  text-align: center;
  font-size: 2rem;
}
