* {
  padding: 0;
  margin: 0;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

input {
  width: 100%;
  margin: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.transformers div {
  font-size: 1.2rem;
  margin: 1.5rem 0;
  padding: 1rem;
  background-color: beige;
  position: relative;
  width: 100%;
}

.transformers label {
  font-size: 0.75rem;
  position: absolute;
  top: -0.75rem;
  left: 1rem;
  background-color: black;
  color: white;
  padding: 0.25rem;
}

.transformers span {
  word-break: break-all;
}

@media (min-width: 768px) {
  input,
  .transformers {
    width: 75%;
  }
}
